extend layout.pug


block body
  h3.text-center.my-2 登录
  form(action=`/login`, method="post")
    .form-list
      label(for="postUsername") 用户名
      input.form-control(
        type      = "text"
        id        = "postUsername"
        name      = 'username'
        minlength = '3'
        maxlength = '8'
      )
    .form-list
      label(for="postPassword") 密码
      input.form-control(
        type      = "password"
        id        = 'postPassword'
        name      = "password"
        minlength = '1'
        maxlength = '12'
      )
    if loginErrCount > 2
      script.
        function updateCaptcha() {
          document.getElementById('captcha-img')
            .src = 'http://127.0.0.1:8080/captcha'
        }
      .form-list.my-2
        label(for="postCaptcha") 验证码
          img.btn-group.rounded.border.border-1.m-2(
            id      = 'captcha-img'
            src     = '/captcha'
            onclick = 'updateCaptcha()'
          )
        input.flex-grow-1.form-control(
          type      = "text"
          id        = 'postCaptcha'
          name      = "captcha"
          maxlength = '4'
        )


    div.d-flex.justify-content-end.my-2
      div.btn-group
        button.btn.btn-outline-primary(
          type = "reset"
        ) 清空
        button.btn.btn-outline-primary(
          type = "submit"
        ) 登录
